/* ----------------------------------------------------------------- */
/* Fonts */
/* ----------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body {
  background: linear-gradient(to right, #0087ff, #da00f9);
}

h1 {
  font-family: "Anton", sans-serif;
  font-style: oblique;
}

h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  font-family: "Dancing Script", cursive;
  background: rgb(255, 255, 255, 0); /* To be full transparent */
  border: none;
  outline: none; /* To remove blue borders browsers put on the input */
  color: #ffffff;
}

/* ----------------------------------------------------------------- */
/* Puzzle icon style */
/* ----------------------------------------------------------------- */

a#extensions-link:hover .fa-puzzle-piece {
  color: #ffffff;
}

/* ----------------------------------------------------------------- */
/* Style at hover */
/* ----------------------------------------------------------------- */
a {
  color: #ffffff;
}

i {
  transition: color 500ms;
}
/* Entertainment */
a#yt:hover #yt-icon {
  color: #ff0000;
}

a#tw:hover #tw-icon {
  color: #1da1f2;
}

a#rd:hover #rd-icon {
  color: #ff4301;
}

a#spoti:hover #spoti-icon {
  color: #1db954;
}

a#netflix:hover #netflix-icon {
  color: #e50914;
}

/* Code */
a#sto:hover #sto-icon {
  color: #ff9900;
}

a#github:hover #github-icon {
  color: #333;
}

a#w3:hover #w3-icon {
  color: #04aa6d;
}

a#linux:hover #linux-icon {
  color: #3a3d3f;
}

a#git:hover #git-icon {
  color: #f1502f;
}

/* Gmail color */
a#gmail:hover #gmail-icon {
  color: #67a1ff;
}

/* Study color */
a#study:hover #study-icon {
  color: #f4b400;
}
