/* ----------------------------------------------------------------- */
/* Fonts */
/* ----------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body {
  background: linear-gradient(to right, #aa076b, #185a9d);
}

h1 {
  font-family: "Anton", sans-serif;
  font-style: oblique;
}

h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  font-family: "Dancing Script", cursive;
  background: rgb(255, 255, 255, 0); /* To be full transparent */
  border: none;
  outline: none; /* To remove blue borders browsers put on the input */
  color: #ffffff;
}

button {
  background: transparent;
}

/* ----------------------------------------------------------------- */
/* Dropdown menu */
/* ----------------------------------------------------------------- */
.dropdown:hover .dropdown-menu {
  display: grid;
}
