/* ----------------------------------------------------------------- */
/* Fonts */
/* ----------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body {
  background: linear-gradient(to right, #0087ff, #da00f9);
}

h1 {
  font-family: "Anton", sans-serif;
  font-style: oblique;
}

h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  font-family: "Dancing Script", cursive;
  background: rgb(255, 255, 255, 0); /* To be full transparent */
  border: none;
  outline: none; /* To remove blue borders browsers put on the input */
  color: #ffffff;
}

/* ----------------------------------------------------------------- */
/* Style at hover */
/* ----------------------------------------------------------------- */

/* Entertainment */
i {
  transition: color 500ms;
}

#yt-icon:hover {
  color: #ff0000;
}

#rd-icon:hover {
  color: #ff4301;
}

#spoti-icon:hover {
  color: #1db954;
}

#netflix-icon:hover {
  color: #e50914;
}

/* Code */
#sto-icon:hover {
  color: #FF9900;
}

#github-icon:hover {
  color: #333;
}

#w3-icon:hover {
  color: #04AA6D;
}

#linux-icon:hover {
  color: #3a3d3f;
}

/* Gmail color */
#gmail-icon:hover {
  color: #67a1ff;
}

/* Study color */
#study-icon:hover {
  color: #F4B400;
}
